
.submit {
	text-align: center;
}
.submit input{
	width: 25%;
	border-radius: 15px;
	font-size: 25px;
		
}

legend {
	text-align: right;
	color: whitesmoke;
}

label {
	color: white;
}

textarea.form-control {
	height: 200px;
}

.title {
	text-align: center;
	color: aquamarine;
	font-weight: bolder;
	margin-bottom: 3%;
}