@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);

body {
	padding-top: 2%;
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #3E3E3E;
}

h1, h2, h3, h4, h5 {
	font-family: 'Open Sans', sans-serif;
	color: #000000;
}

strong {
	font-weight: 700;
}

.navbar-brand {
	font-weight: 400;
}

.jumbotron {
	opacity: 0.7;
}